modules = ["web", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Static Site Server"

[[workflows.workflow]]
name = "Static Site Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd public && npm start"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34363
externalPort = 3002

[[ports]]
localPort = 38951
externalPort = 3000

[[ports]]
localPort = 44343
externalPort = 3001

[deployment]
deploymentTarget = "static"
publicDir = "public"
